<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="snippets.html :: name_head"></head>
<body>
<nav th:replace="snippets.html :: name_site_navbar"></nav>
<div class="container">
    <h3>Brand Reports</h3>

    <div class="row">
        &nbsp;
    </div>

    <div>
        <button class="btn btn-info" id = "download-report">Download Report</button>
    </div>

<!--    <div class="row">-->

<!--        <div class="col-12">-->
<!--            <table class="table table-striped" id="brand-table">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">S.No</th>-->
<!--                    <th scope="col">Brand</th>-->
<!--                    <th scope="col">Category</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->

<!--                </tbody>-->
<!--            </table>-->

<!--        </div>-->
<!--    </div>-->


</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/brand-report.js}"/></script>
</body>
</html>