<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="snippets.html :: name_head"></head>
<body>
<nav th:replace="snippets.html :: name_site_navbar"></nav>
<div class="container">
    <h3>Daily-Sales</h3>
<!--    <div class="row">-->
<!--        <div class="col-12">-->
<!--            <form class="form-inline" style="text-align:justify;" id="inventory-form">-->
<!--                <div class="form-group my-3">-->
<!--                    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>-->
<!--                    <div class="col-sm-10">-->
<!--                        <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="enter barcode" required>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group my-3">-->
<!--                    <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>-->
<!--                    <div class="col-sm-10">-->
<!--                        <input type="number" class="form-control" name="quantity" id="inputQuantity" placeholder="enter quantity" required>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>

    <div class="row">

        <div class="col-12">
            <table class="table table-striped" id="daily-sales-table">
                <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Invoiced Items Count</th>
                    <th scope="col">Invoiced Orders</th>
                    <th scope="col">Total Revenue</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>


</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/day-on-day-report.js}"/></script>
</body>
</html>