<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to Pos Application!</h1>
                <p class="lead">Point Of Sale!!</p>
                <hr class="my-4">
<!--                <p>This application teaches you Spring concepts and creating awesome web applications</p>-->
                <a class="btn btn-primary btn-lg" th:href="@{/home}" role="button">Login!!</a>
            </div>
        </div>
    </div>
</div> <!--Container-->



</body>

</html>