<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="snippets.html :: name_head"></head>
<body>
<nav th:replace="snippets.html :: name_site_navbar"></nav>
<div class="container" id="order-item" th:attr="orderId=${id}">
    <h3>Order Item Page!!</h3>
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="orderItem-form">
                <div class="form-group">
                    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="enter barcode" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="quantity" id="inputQuantity" placeholder="enter quantity" required>
                    </div>
                </div>



                <button type="button" class="btn btn-primary" id="add-orderItem">Add Order Item</button>
                &nbsp
                <button type="button" class="btn btn-primary" id="print-invoice">Print Invoice!!</button>
            </form>
        </div>
    </div>

    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>

    <div class="row">

        <div class="col-12">
            <table class="table table-striped" id="orderItem-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Order Id</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>

<!--    <div class="modal" tabindex="-1" role="dialog" id="upload-orderItem-modal">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->

<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title">Upload OrderItem Data</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->

<!--                <div class="modal-body">-->
<!--                    <div class="orderItem-file">-->
<!--                        <input type="file" class="custom-file-input" id="orderItemFile">-->
<!--                        <label class="custom-file-label" for="orderItemFile" id="orderItemFileName">Choose file</label>-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    Rows: <span id="rowCount">0</span>,-->
<!--                    Processed: <span id="processCount">0</span>,-->
<!--                    Errors: <span id="errorCount">0</span>-->
<!--                </div>-->

<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--                    <button type="button" class="btn btn-primary" id="process-data">Upload</button>-->
<!--                    <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

    <div class="modal" tabindex="-1" role="dialog" id="edit-orderItem-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Order Item Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="orderItem-edit-form">
                        <div class="form-group">
                            <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="barcode" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="quantity">
                            </div>
                        </div>

                        <input type="hidden" name="id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="update-orderItem">Update</button>
                </div>
            </div>
        </div>
    </div>


</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/orderItem.js}"/></script>
</body>
</html>